<div class="relative main-content h-screen py-16  bg-gray-50">
  <div nz-row class="flex justify-center items-center align-middle">
    <div nz-col nzXs="24" nzSm="18" nzMd="12" nzXl="8" nzXXl="6"
         style="box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0; border-radius: 25px">

      <div class="flex justify-center mt-2">
        <img src="assets/images/logo/sm_logo.png" alt="logo" class="img-fluid">
      </div>

      <div class="rounded-6" *ngIf="isDivPasswordVisible">
        <div class="p-[20px] text-center">
          <h2 class="text-2xl font-extrabold ">Forgot Password</h2>
          <div
            class="relative mt-[5px] text-center text-13 text-regular dark:text-white/[87] before:content-[''] before:absolute before:w-full ltr:before:left-0 rtl:before:right-0 before:top-[50%] before:translate-y-[-50%] before:z-[1] before:h-[1px] before:bg-normal before:dark:bg-white/10">
              <span
                class="font-medium px-[15px] inline-block relative z-[2]  dark:bg-[#1b1c29] text-theme-gray dark:text-white/60 capitalize">Access your Alexapay account</span>
          </div>
        </div>

        <div class="py-[20px] px-[40px] content">
          <form nz-form [formGroup]="forgotPasswordFrom" nzLayout="vertical" class="login-form">
            <nz-form-item class="block mb-1">
              <nz-form-label
                class="text-[14px] w-full leading-[1.4285714286] font-medium [&>label]:text-dark [&>label]:dark:text-white/[.87]  capitalize inline-block"
                nzRequired nzFor="userName">Username
              </nz-form-label>
              <nz-form-control nzErrorTip="Enter Your Username">
                <input
                  class="flex items-center shadow-none py-[10px] px-[20px] h-[48px] border-2 border-regular dark:border-white/10 w-full text-[14px] font-normal leading-[1.5] placeholder:text-[#A0A0A0] dark:bg-white/10 dark:text-white/60"
                  nz-input formControlName="username" placeholder="Username" id="username"/>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item class="block mb-1">
              <nz-form-label
                class="text-[14px] w-full leading-[1.4285714286] font-medium [&>label]:text-dark [&>label]:dark:text-white/[.87] mt-[10px] capitalize inline-block"
                nzRequired nzFor="userName">Mobile
              </nz-form-label>
              <nz-form-control nzErrorTip="Enter Your Mobile">
                <input
                  class="flex items-center shadow-none py-[10px] px-[20px] h-[48px] border-2 border-regular dark:border-white/10 w-full text-[14px] font-normal leading-[1.5] placeholder:text-[#A0A0A0] dark:bg-white/10 dark:text-white/60"
                  nz-input formControlName="mobile" placeholder="Mobile" id="mobile"/>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>


        <div class="w-full mb-10">
          <div class="px-12">
            <div class="flex justify-between gap-2">
              <button routerLink="/authentication/login" class="inline-flex items-center justify-center mt-6 w-full
             h-[35px] text-18 rounded-3xl font-medium bg-primary-hbr text-white
              cursor-pointer hover:bg-primary border-primary transition duration-300"
                      nz-button nzType="primary">Back
              </button>

              <button (click)="toggleVisibility()" class="inline-flex items-center justify-center mt-6 w-full
             h-[35px] text-18 rounded-3xl font-medium bg-primary-hbr text-white
              cursor-pointer hover:bg-primary border-primary transition duration-300"
                      routerLink="authentication/login" nz-button nzType="primary">Submit
              </button>

            </div>
          </div>
        </div>


      </div>

      <div class="pt-0 mt-0 px-12" *ngIf="isDivOtpVisible">
        <div class="flex justify-center items-center">
          <div class="w-full mt-0 pt-0">
            <div class="p-[20px] text-center">
              <h2 class="text-2xl font-extrabold ">Forgot Password</h2>
              <div
                class="relative mt-[5px] text-center text-13 text-regular dark:text-white/[87] before:content-[''] before:absolute before:w-full ltr:before:left-0 rtl:before:right-0 before:top-[50%] before:translate-y-[-50%] before:z-[1] before:h-[1px] before:bg-normal before:dark:bg-white/10">
              <span
                class="font-medium px-[15px] inline-block relative z-[2]  dark:bg-[#1b1c29] text-theme-gray dark:text-white/60 capitalize">Access your Alexapay account</span>
              </div>
            </div>

            <div class="w-full mb-6">
              <input type="text" formControlName="otp" placeholder="OTP"
                     class="w-full border border-gray-300 rounded-lg p-2"
                     [ngClass]="{ 'border-red-500': loginFormSubmitted && forgotPasswordFrom.get('otp')?.invalid, 'border-green-500': loginFormSubmitted && forgotPasswordFrom.get('otp')?.valid }">
              <div *ngIf="loginFormSubmitted && forgotPasswordFrom.get('otp')?.invalid"
                   class="mt-1 text-red-500 text-xs flex items-center">
                <svg class="w-4 h-4 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13.5 12h-3m3 4.5h-3m3-9h-3m7.5 9h-.01M16 12a4 4 0 01-4-4V7a4 4 0 014-4 4 4 0 014 4v1a4 4 0 01-4 4z"></path>
                </svg>
                OTP is Required.
              </div>
            </div>

            <div class="w-full mb-10">
              <button type="submit"
                      class="bg-primary text-white font-semibold py-2 px-4 rounded-lg w-full hover:bg-primary-hbr focus:outline-none">
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

