<div class="relative main-content  py-10  bg-gray-100 ">
  <div nz-row class="justify-center">
    <div nz-col nzXs="24" nzSm="24" nzMd="20" nzXl="20" nzXXl="20">

      <div class="rounded-10 mt-[10px] shadow_[0px_5px_20px_rgba(173,181,217, 0.03)]
       dark:shadow_[0px_5px_15px_rgba(0, 0, 0, .1)] bg-white dark:bg-[#1b1d2a]">

        <div class="flex justify-center p-[15px]">
          <img src="assets/images/logo/sm_logo.png" alt="logo" class="img-fluid">
        </div>

        <div class="pb-[13px] text-center border-b border-regular dark:border-white/10 top">
          <h2 class="text-18 font-semibold leading-[1] mb-0 text-dark dark:text-white/[.87] title">Sign Up AlexaPay</h2>
        </div>

        <div class="py-[30px] px-[40px] content">
          <form nz-form [formGroup]="signUpForm" class="login-form" nzLayout="vertical" (ngSubmit)="submitForm()">
            <div class="flex gap-3">
              <nz-form-item class="w-full">
                <nz-form-control nzErrorTip="Please input your First Name!">
                  <input type="text" nz-input formControlName="first_name" placeholder="First Name" id="first_name"
                         class="flex items-center shadow-none py-[10px] px-[20px] h-[40px] border-1 border-gray-200 dark:border-white/10 rounded-4 w-full text-[14px] font-normal leading-[1.5] placeholder:text-[#A0A0A0] dark:bg-white/10 dark:text-white/60">
                </nz-form-control>
              </nz-form-item>

              <nz-form-item class="w-full">
                <nz-form-control>
                  <input type="text" nz-input formControlName="middle_name" placeholder="Middle Name" id="middle_name"
                         class="flex items-center shadow-none py-[10px] px-[20px] h-[40px] border-1 border-gray-200 dark:border-white/10 rounded-4 w-full text-[14px] font-normal leading-[1.5] placeholder:text-[#A0A0A0] dark:bg-white/10 dark:text-white/60">
                </nz-form-control>
              </nz-form-item>

              <nz-form-item class="w-full">
                <nz-form-control nzErrorTip="Please input your Last Name!">
                  <input type="text" nz-input formControlName="lname" placeholder="Last Name" id="lname"
                         class="flex items-center shadow-none py-[10px] px-[20px] h-[40px] border-1 border-gray-200 dark:border-white/10 rounded-4 w-full text-[14px] font-normal leading-[1.5] placeholder:text-[#A0A0A0] dark:bg-white/10 dark:text-white/60">
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="flex gap-3">
              <nz-form-item class="w-full">
                <nz-form-control nzErrorTip="Please input your Father Name!">
                  <input type="text" nz-input formControlName="fname" placeholder="Father Name" id="fname"
                         class="flex items-center shadow-none py-[10px] px-[20px] h-[40px] border-1 border-gray-200 dark:border-white/10 rounded-4 w-full text-[14px] font-normal leading-[1.5] placeholder:text-[#A0A0A0] dark:bg-white/10 dark:text-white/60">
                </nz-form-control>
              </nz-form-item>

              <nz-form-item class="w-full">
                <nz-form-control nzErrorTip="Please Select Gender!">
                  <nz-select formControlName="gender" id="gender" nzBorderless="false" nzSize="large" nzAutoFocus="false"
                             class="flex items-center font-normal placeholder:text-[#A0A0A0] dark:bg-white/10 dark:text-white/60"
                             nzPlaceHolder="Select a person">
                    <nz-option nzLabel="Male" nzValue="Male"></nz-option>
                    <nz-option nzLabel="Female" nzValue="Female"></nz-option>
                    <nz-option nzLabel="Others" nzValue="Others"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>


              <nz-form-item class="w-full">
                <nz-form-control nzErrorTip="Please input your DOB!">
                  <nz-date-picker formControlName="dob"
                                  class="flex items-center shadow-none py-[10px] px-[20px] h-[40px] border-1 border-gray-200
                   dark:border-white/10 rounded-4 text-[14px] font-normal leading-[1.5] placeholder:text-[#A0A0A0]
                   dark:bg-white/10 dark:text-white/60">
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>

            </div>

            <div class="flex gap-3">
              <nz-form-item class="w-full">
                <nz-form-control nzErrorTip="Please input your Mobile Number!">
                  <input type="text" nz-input formControlName="mobile" placeholder="Mobile" id="mobile"
                         class="flex items-center shadow-none py-[10px] px-[20px] h-[40px] border-1 border-gray-200 dark:border-white/10 rounded-4 w-full text-[14px] font-normal leading-[1.5] placeholder:text-[#A0A0A0] dark:bg-white/10 dark:text-white/60">
                </nz-form-control>
              </nz-form-item>

              <nz-form-item class="w-full">
                <nz-form-control nzErrorTip="Please input your Email!">
                  <input type="text" nz-input formControlName="email" placeholder="Email" id="email"
                         class="flex items-center shadow-none py-[10px] px-[20px] h-[40px] border-1 border-gray-200 dark:border-white/10 rounded-4 w-full text-[14px] font-normal leading-[1.5] placeholder:text-[#A0A0A0] dark:bg-white/10 dark:text-white/60">
                </nz-form-control>
              </nz-form-item>

              <nz-form-item class="w-full">
                <nz-form-control nzErrorTip="Please input your Pincode!">
                  <input type="text" nz-input formControlName="pincode" placeholder="Pin Code" id="pincode"
                         class="flex items-center shadow-none py-[10px] px-[20px] h-[40px] border-1 border-gray-200 dark:border-white/10 rounded-4 w-full text-[14px] font-normal leading-[1.5] placeholder:text-[#A0A0A0] dark:bg-white/10 dark:text-white/60">
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="flex gap-3">
              <nz-form-item class="w-full">
                <nz-form-control nzErrorTip="Please input your State!">
                  <input type="text" nz-input formControlName="state" placeholder="State" id="state"
                         class="flex items-center shadow-none py-[10px] px-[20px] h-[40px] border-1 border-gray-200 dark:border-white/10 rounded-4 w-full text-[14px] font-normal leading-[1.5] placeholder:text-[#A0A0A0] dark:bg-white/10 dark:text-white/60">
                </nz-form-control>
              </nz-form-item>

              <nz-form-item class="w-full">
                <nz-form-control nzErrorTip="Please input your District!">
                  <input type="text" nz-input formControlName="district" placeholder="District" id="district"
                         class="flex items-center shadow-none py-[10px] px-[20px] h-[40px] border-1 border-gray-200 dark:border-white/10 rounded-4 w-full text-[14px] font-normal leading-[1.5] placeholder:text-[#A0A0A0] dark:bg-white/10 dark:text-white/60">
                </nz-form-control>
              </nz-form-item>

              <nz-form-item class="w-full">
                <nz-form-control nzErrorTip="Please input your City!">
                  <input type="text" nz-input formControlName="city" placeholder="City" id="city"
                         class="flex items-center shadow-none py-[10px] px-[20px] h-[40px] border-1 border-gray-200 dark:border-white/10 rounded-4 w-full text-[14px] font-normal leading-[1.5] placeholder:text-[#A0A0A0] dark:bg-white/10 dark:text-white/60">
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="">
              <nz-form-item class="w-full">
                <nz-form-control nzErrorTip="Please input your Address!">
                  <input type="text" nz-input formControlName="address" placeholder="Address" id="address"
                         class="flex items-center shadow-none py-[10px] px-[20px] h-[40px] border-1 border-gray-200 dark:border-white/10 rounded-4 w-full text-[14px] font-normal leading-[1.5] placeholder:text-[#A0A0A0] dark:bg-white/10 dark:text-white/60">
                </nz-form-control>
              </nz-form-item>
            </div>

            <nz-form-item>
              <nz-form-control>
                <div class="flex justify-between mt-2">

                  <label nz-checkbox formControlName="agree"
                         class="flex w-full font-normal ms-1 text-13 leading-[22px] text-light dark:text-white/60 capitalize ">
                    <span>Creating An Account Means You’re Okay With Our <a class="text-primary" href="#">Terms Of
                        Service</a> And <a class="text-primary" href="#">Privacy Policy</a> My Preference</span>
                  </label>

                  <div class="flex gap-3  w-1/2">
                    <button nz-button routerLink="/authentication/login"
                            class="login-form-margin inline-flex items-center justify-center w-full h-[40px] text-14 rounded-6 font-medium bg-primary text-white cursor-pointer hover:bg-primary-hbr transition duration-300"
                    >Cancel
                    </button>

                    <button nz-button
                            class="login-form-button login-form-margin inline-flex items-center justify-center w-full h-[40px] text-14 rounded-6 font-medium bg-primary text-white cursor-pointer hover:bg-primary-hbr transition duration-300"
                            [nzType]="'primary'">Submit
                    </button>
                  </div>
                </div>


              </nz-form-control>

            </nz-form-item>
            <nz-form-item>
              <nz-form-control>

              </nz-form-control>
            </nz-form-item>
          </form>
          <!--          <div-->
          <!--            class="relative mt-[25px] text-center text-13 text-regular dark:text-white/[87] before:content-[''] before:absolute before:w-full ltr:before:left-0 rtl:before:right-0 before:top-[50%] before:translate-y-[-50%] before:z-[1] before:h-[1px] before:bg-normal before:dark:bg-white/10">-->
          <!--              <span-->
          <!--                class="font-medium px-[15px] inline-block relative z-[2] bg-white dark:bg-[#1b1c29] text-theme-gray dark:text-white/60 capitalize">or</span>-->
          <!--          </div>-->
        </div>
        <!--        <div class="text-center p-[25px] rounded-b-6 bg-deepBG dark:bg-[#282a37]">-->
        <!--          <p-->
        <!--            class="text-[14px] font-medium text-theme-gray dark:text-white/60 inline-flex items-center gap-[6px] mb-0">-->
        <!--            Don`t have an account?<a-->
        <!--            class="transition duration-300 text-primary hover:text-dark dark:hover:text-white/[.87]"-->
        <!--            routerLink="/authentication">Sign In</a>-->
        <!--          </p>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
</div>
